/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 238, 0);
}

.title, .logo {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
	padding: 1rem;
	border: 5px solid #800080;
	border-radius: 25px 5px 25px 5px;
	background-color: seagreen;
	color: white;
	text-shadow: 2px 2px black;
}

nav {
	padding: 15px;
	top: 0;
	position: fixed;
}

.description {
	text-align: center;
	border-bottom: 2px solid purple;
	padding-bottom: 0.2rem;
	margin-bottom: 4rem;
	font-size: 1.2rem;
	letter-spacing: 1.5px;
}

.joke {
	font-weight: 700;
}

button {
	padding: 1rem 1.2rem;
	border-radius: 15px;
	font-size: 1.2rem;
	background-color: purple;
	border: none;
	color: white;
	font-weight: 700;
}

.btn {
	text-decoration: none;
	font-style: italic;
	color: purple;
	font-size: 2rem;
	font-weight: 700;
	border-radius: 15px;
	padding: 1rem;
	transition: .2s;
	letter-spacing: .2rem;
	text-shadow: 2px 2px seagreen;
}

.btn:hover {
	letter-spacing: .4rem;
	text-shadow: 3px 3px white, 4px 4px seagreen
}

.logo {
	transition: .2s;
}

.logo-btn {
	text-decoration: none;
	color: white;
}

.logo:hover {
	box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	text-shadow: 2px 2px black,1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	background-color: rgb(62, 180, 113);
	border: 5px solid #ac00ac;
}

.card-front {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(250, 255, 184);
	width: 33vw;
	height: 38vh;
	border: 1px solid teal;
	box-shadow:  8px 8px black;
	position: relative;
}

.question-number {
	font-size: 1.2rem;
	position: absolute;
	top: 15px;
	left: 10px;
}